* {
  margin: 0;
  padding: 0;
}

#header {
  background-color: cornflowerblue;
  color: cornsilk;
  font-family: cursive;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 100px;
}

.link{
  display: flex;
  gap: 20px;
}

.hero{
  display: flex;
  padding: 100px;
  gap: 100px;
  background-color: blue;
  color: cornsilk;
}

img {
  min-width: 0;
  width: 100%;
  display: block;
  border: 10px solid gold;
}

h2{
  font-size: 60px;
  font-family: cursive;
  margin: 0%;
}

.p2{
  font-size: 20px;
  margin-bottom: 20px;
  margin-top: 10px;
}

button{
  font-size: 25px;
}

h3{
  font-size: 50px;
  text-align: center;
  font-family: cursive;
}

.trulylast{
  background-color: cornflowerblue;
  font-size: 35px;
  color: cornsilk;
  text-align: center;
  padding: 20px;
}